spring:
  datasource:
    password: letmein
    url: jdbc:mysql://localhost:3306/yougrocery
    username: root
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show_sql: true
